.css-1k9ek97 {
    background: url('../public/sgv2.svg') no-repeat center,
        url('../public/svg1.svg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
}

.css-br6p1z-MuiButtonBase-root-MuiIconButton-root {
    padding: 0px !important;
}

/* .Filtro {
    position: absolute;
    z-index: 1;
    gap: 2;
} */